<link rel='stylesheet' href='/admin/css/lib/datatable/dataTables.bootstrap.min.css' />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>


<div class="content"  id="addCoupon">
    <div class="animanted-fadeIn">

        <div class='orders'>
            <div class='row'>
                <div class='col'>

                    <div class='card'>


                        <div class='card-body'>

                            <div class="row p-3">




                                <div class="col d-flex justify-content-between">
                                    <h3 class='text-uppercase'>Add new coupon
                                    </h3>

                                </div>
                            </div>
                            <hr class="mb-1 mt-1">
                            <div class="row p-3">
                                <div class="col">
                                    <form action='/admin/addCoupon' id="add-coupon-form" method='post'
                                        autocomplete="off" autocapitalize="on" class='form-horizontal'>
                                        <div class='row form-group'>
                                            <div class='col col-md-3'><label for='coupon-code-input'
                                                    class='form-control-label'>Coupon
                                                    code</label>
                                            </div>
                                            <div class='col-12 col-md-9'>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="couponCode"
                                                        placeholder="Coupon code" id="coupon-code-input"
                                                        aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <button class="btn badge-complete
                                                text-light font-weight-bold" type="button"
                                                            onclick="generateCouponCode()">Generate</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row form-group'>
                                            <div class='col col-md-3'><label for='discount-percentage'
                                                    class='form-control-label'>Discount
                                                    percentage (%)</label>
                                            </div>
                                            <div class='col-12 col-md-9'><input type='number' id='discount-percentage'
                                                    name='discount' placeholder='Enter discount percentage'
                                                    class='form-control' onkeypress="return onlyTwoNumbers(this)" />
                                            </div>
                                        </div>
                                        <div class='row form-group'>
                                            <div class='col col-md-3'><label for='expires-within'
                                                    class='form-control-label'>Validity (Days)</label>
                                            </div>
                                            <div class='col-12 col-md-9'><input type='number' id='expires-within'
                                                    name='validity' placeholder='Validity' class='form-control' />
                                            </div>
                                        </div>

                                        <div class='row form-group'>
                                            <div class='col col-md-3'><label for='min-amout'
                                                    class='form-control-label'>Minimum
                                                    purchase amount</label>
                                            </div>
                                            <div class='col-12 col-md-9'><input type='number' id='min-amount'
                                                    name='minimumPurchaseAmount' placeholder='Minimum purchase amount'
                                                    class='form-control' />
                                            </div>
                                        </div>

                                        <div class='row form-group'>
                                            <div class='col col-md-3'><label for='coupon-limit'
                                                    class='form-control-label'>Limit</label>
                                            </div>
                                            <div class='col-12 col-md-9'><input type='number' id='coupon-limit'
                                                    name='limit' placeholder='Enter coupon limit'
                                                    class='form-control' />
                                            </div>
                                        </div>
                                        <div class='row form-group
                                text-center mt-5'>
                                            <div class='col'>
                                                <button class='btn
                                        px-5
                                        font-weight-bold
                                        text-light
                                        badge-complete' type='submit'>Add coupon</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <hr>
                            <div class="row p-3">




                                <div class="col d-flex justify-content-between">
                                    <h3 class='text-uppercase'>Active coupons
                                    </h3>
                                </div>
                            </div>
                            <hr class="mt-0">
                            {{#if coupons}}
                            <div class='table-stats order-table products-content'>
                                <table class='table products-table products-content-child' id='bootstrap-data-table'>
                                    <thead>
                                        <tr>

                                            <th>Coupon code</th>
                                            <th>Discount</th>
                                            <th>Validity</th>
                                            <th>Minimum purchase amount</th>
                                            <th>Added date</th>
                                            <th>Expiry date</th>
                                            <th>Limit</th>
                                            <th>Action</th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each coupons}}
                                        <tr id="couponRow{{this.coupons._id}}">
                                            <td>
                                                {{this.coupons.couponCode}}
                                            </td>
                                            <td>
                                                {{this.coupons.discount}}
                                            </td>
                                            <td>
                                                {{this.coupons.validity}} Days
                                            </td>
                                            <td>
                                                {{this.coupons.minimumPurchaseAmount}}
                                            </td>

                                            <td>
                                                {{this.coupons.addedDate}}
                                            </td>
                                            <td>
                                                {{this.coupons.expiryDate}}
                                            </td>
                                            <td>
                                                {{this.coupons.limit}}
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    {{!-- <a href=""
                                                        class="text-light font-weight-bold badge badge-complete mr-2"
                                                        id="">Edit</a> --}}
                                                    <a href="" class="text-light font-weight-bold badge badge-pending"
                                                        onclick="deleteCoupon(event,'{{this.coupons._id}}')">Delete</a>
                                                </div>

                                            </td>


                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                            {{else}}
                            <div class='card p-4'>
                                <div class="card-body card-block">
                                    <h3 class="text-danger mb-3 font-weight-bold">No active coupons
                                    </h3>
                                    <a class="btn btn-success" href="#addCoupon">Add new coupon</a>
                                </div>
                            </div>
                            {{/if}}
                            <!-- /.table-stats -->
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>






    <script src='https://code.jquery.com/jquery-3.1.1.js'></script>




    <script src='/admin/js/lib/data-table/datatables.min.js'></script>
    <script src='/admin/js/lib/data-table/dataTables.bootstrap.min.js'></script>
    <script src='/admin/js/lib/data-table/dataTables.buttons.min.js'></script>
    <script src='/admin/js/lib/data-table/buttons.bootstrap.min.js'></script>
    <script src='/admin/js/lib/data-table/jszip.min.js'></script>
    <script src='/admin/js/lib/data-table/vfs_fonts.js'></script>
    <script src='/admin/js/lib/data-table/buttons.html5.min.js'></script>
    <script src='/admin/js/lib/data-table/buttons.print.min.js'></script>
    <script src='/admin/js/lib/data-table/buttons.colVis.min.js'></script>
    <script src='/admin/js/init/datatables-init.js'></script>




    <script src='https://code.jquery.com/jquery-3.1.1.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js'></script>
    <script src='/admin/local_js/validation.js'></script>
    <script src='/admin/local_js/script.js'></script>