<link rel="stylesheet"
       href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<style>
       #weatherWidget .currentDesc {
              color: #ffffff !important;
       }

       .traffic-chart {
              min-height: 335px;
       }

       #flotPie1 {
              height: 150px;
       }

       #flotPie1 td {
              padding: 3px;
       }

       #flotPie1 table {
              top: 20px !important;
              right:
                     -10px !important;
       }

       .chart-container {
              display: table;
              min-width: 270px;
              text-align: left;
              padding-top: 10px;
              padding-bottom: 10px;
       }

       #flotLine5 {
              height: 105px;
       }

       #flotBarChart {
              height: 150px;
       }

       #cellPaiChart {
              height:
                     160px;
       }
</style>

<div class='content'>
       
       <!-- Animated -->
       <div class='animated fadeIn'>
              <!-- Widgets  -->
              <div class='row'>

                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-1'>
                                                        <i class='pe-7s-cash'></i>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'>₹<span
                                                                             class='count'>{{reveniew}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Total Revenue</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-1'>
                                                        <i class='pe-7s-cash'></i>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'>₹<span
                                                                             class='count'>{{todaysReveniew}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Today's Revenue</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-2'>
                                                        <i class='pe-7s-cart'></i>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'><span
                                                                             class='count'>{{totalSales}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Total sales</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-2'>
                                                        <i class='pe-7s-cart'></i>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'><span
                                                                             class='count'>{{totalSales}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Today's sales</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-4'>
                                                        <span class="material-symbols-outlined" style="font-size:50px;">
                                                               shopping_bag
                                                        </span>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'><span
                                                                             class='count'>{{products}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Total Products</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>

                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-4'>
                                                        <i class='pe-7s-users'></i>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'><span
                                                                             class='count'>{{customers}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Customers</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>


                     <div class='col-lg-4 col-md-6'>
                            <div class='card'>
                                   <div class='card-body'>
                                          <div class='stat-widget-five'>
                                                 <div class='stat-icon dib flat-color-2'>
                                                        <i class='pe-7s-cart'></i>
                                                 </div>
                                                 <div class='stat-content'>
                                                        <div class='text-left dib'>
                                                               <div class='stat-text'><span
                                                                             class='count'>{{activeOrders}}</span>
                                                               </div>
                                                               <div class='stat-heading'>Active orders</div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>




              </div>
              <!-- /Widgets -->
              <!--  Traffic  -->
              <div class='row mb-4'>
                     <div class="col-lg-6">
                            <div class="card p-3 h-100">
                                   <div class="card-body">
                                          <h4 class="mb-3 font-weight-bold">Revenue</h4>
                                          <canvas id="sales-chart" class="p-2"></canvas>
                                   </div>
                            </div>
                     </div>
                     <div class='col col-lg-6'>
                            <div class='card ov-h h-100 p-3'>
                                   <div class='card-body'>
                                          <canvas id="orderStatusChart"></canvas>
                                   </div>
                                   <div class='card-body bg-flat-color-2' hidden>

                                   </div>
                                   <div id='cellPaiChart' class='float-chart' style="height: 10px;"></div>
                            </div><!-- /.card -->
                     </div>

              </div>
              <!--  /Traffic -->
              <div class='clearfix'></div>
              <!-- Orders -->
              <div class='orders'>
                     <div class='row'>



                            <!-- /.col-lg-8 -->

                            <div class='col-xl-6'>
                                   <div class='row h-100'>


                                          <div class='col-lg-6 col-xl-12' hidden>
                                                 <div class='card bg-flat-color-3'>
                                                        <div class='card-body'>
                                                               <h4 class='card-title m-0 white-color'>August 2018</h4>
                                                        </div>
                                                        <div class='card-body'>
                                                               <div id='flotLine5' class='flot-line'></div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>


                            <!-- /.col-md-4 -->
                     </div>
              </div>
       </div>
       <!-- /.orders -->
       <!-- To Do and Live Chat -->

       <!-- /To Do and Live Chat -->
       <!-- Calender Chart Weather  -->
       <div class='row '>

              <div class='col-lg-6'>
                     <div class='card br-0 h-100 p-3'>
                            <div class='card-body'>
                                   <p class="font-weight-bold text-dark">Sales by Type</p>
                                   <div class='chart-container ov-h'>
                                          <div id='flotPie1' class='float-chart p-2'></div>
                                   </div>
                                   <br>

                            </div>
                     </div><!-- /.card -->

              </div>
              <div class="col-lg-6">
                     <div class="card h-100 p-3">


                            <div class='card-body'>


                                   <p class="text-dark font-weight-bold">Payments</p>
                                   <div class='progress-box progress-1'>
                                          <h4 class='por-title'>{{payment.[0].method}}</h4>
                                          <div class='por-txt'>{{payment.[0].count}} Payments
                                                 ({{payment.[0].percent}}%)</div>
                                          <div class='progress mb-2' style='height: 5px;'>
                                                 <div class='progress-bar bg-flat-color-1' role='progressbar'
                                                        style='width: {{payment.[0].percent}}%;'
                                                        aria-valuenow='{{payment.[0].percent}}' aria-valuemin='0'
                                                        aria-valuemax='100'></div>
                                          </div>
                                   </div>
                                   <div class='progress-box progress-1'>
                                          <h4 class='por-title'>{{payment.[1].method}}</h4>
                                          <div class='por-txt'> {{#if
                                                 payment.[1]}}{{payment.[1].count}}{{else}}0{{/if}}
                                                 Payments
                                                 {{#if
                                                 payment.[1]}}({{payment.[1].percent}}%){{else}}(0%){{/if}}
                                          </div>
                                          <div class='progress mb-2' style='height: 5px;'>
                                                 <div class='progress-bar bg-flat-color-2' role='progressbar'
                                                        style='width: {{payment.[1].percent}}%;'
                                                        aria-valuenow='{{payment.[1].percent}}' aria-valuemin='0'
                                                        aria-valuemax='100'></div>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>



       </div>

       <div class="row">
              <div class="col">
                     <div>
                            <div>
                                   <h4 class="mt-5">
                            Recent orders
                     </h4>
                     {{#if recentOrders}}
                     <div class='table-stats order-table products-content'>
                            <table class='table products-table products-content-child' id='bootstrap-data-table'>
                                   <thead>
                                          <tr>

                                                 <th>Order ID</th>
                                                 <th>Customer</th>
                                                 <th>Order date</th>
                                                 <th>Payment method</th>
                                                 <th>Total price</th>
                                                 <th>Discount</th>
                                                 <th>Amount payable</th>
                                                 <th>View</th>


                                          </tr>
                                   </thead>
                                   <tbody>

                                          {{#each recentOrders}}
                                          <tr>

                                                 <td class="text-uppercase">
                                                        {{this._id}}
                                                 </td>
                                                 <td style="white-space: nowrap;">
                                                        {{this.user}}
                                                 </td>
                                                 <td style="white-space: nowrap;">
                                                        {{this.orderDate}}
                                                 </td>

                                                 <td>
                                                        {{this.paymentMethod}}
                                                 </td>
                                                 <td>
                                                        Rs.{{this.totalPrice}}
                                                 </td>
                                                 <td>
                                                        Rs.{{this.discount}}
                                                 </td>
                                                 <td>

                                                        Rs.{{this.amountPayable}}

                                                 </td>
                                                 
                                                 <td>
                                                        <div class="d-flex">
                                                               <a href="/admin/orderedProducts/{{this._id}}"
                                                                      class="text-light font-weight-bold badge badge-complete mr-2"
                                                                      id="order-view-button-{{this._id}}">View</a>

                                                        </div>

                                                 </td>


                                          </tr>
                                          {{/each}}

                                   </tbody>
                            </table>
                     </div>
                     {{else}}
                     <div class='card p-4'>
                            <div class="card-body card-block">
                                   <h3 class="text-danger mb-3 font-weight-bold">Orders are yet to come
                                   </h3>
                            </div>
                     </div>
                     {{/if}}
                            </div>
                     </div>
                     
              </div>
       </div>


       <!-- /Calender Chart Weather -->
       <!-- Modal - Calendar - Add New Event -->

       <!-- /#add-category -->
</div>
<!-- .animated -->
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
       var xValues = [{{#each orderStatus}}'{{this._id}}', {{/each}}];
       var yValues = [{{#each orderStatus}}{{this.count}}, {{/each}}];
              var barColors = [{{#each orderStatus}}'{{this.color}}', {{/each}}];

              new Chart("orderStatusChart", {
                     type: "bar",
                     data: {
                            labels: xValues,
                            datasets: [{
                                   backgroundColor: barColors,
                                   data: yValues
                            }]
                     },
                     options: {
                            legend: { display: false },
                            title: {
                                   display: true,
                                   text: "Order status"
                            }
                     }
              });
</script>

<script>
    var ctx = document.getElementById( "sales-chart" );
    ctx.height = 150;
    var myChart = new Chart( ctx, {
        type: 'line',
        data: {
            labels: [{{#each salesByDate }}'{{this._id}}',{{/each}}],
            type: 'line',
            defaultFontFamily: 'Montserrat',
            datasets: [ {
                label: "reveniew",
                data: [ {{#each salesByDate }}'{{this.amount}}', {{/each}} ],
                backgroundColor: 'transparent',
                borderColor: 'rgba(220,53,69,0.75)',
                borderWidth: 3,
                pointStyle: 'circle',
                pointRadius: 5,
                pointBorderColor: 'transparent',
                pointBackgroundColor: 'rgba(220,53,69,0.75)',
                    }]
        },
        options: {
            responsive: true,

            tooltips: {
                mode: 'index',
                titleFontSize: 12,
                titleFontColor: '#000',
                bodyFontColor: '#000',
                backgroundColor: '#fff',
                titleFontFamily: 'Montserrat',
                bodyFontFamily: 'Montserrat',
                cornerRadius: 3,
                intersect: false,
            },
            legend: {
                display: false,
                labels: {
                    usePointStyle: true,
                    fontFamily: 'Montserrat',
                },
            },
            scales: {
                xAxes: [ {
                    display: true,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                        } ],
                yAxes: [ {
                    display: true,
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Reveniew'
                    }
                        } ]
            },
            title: {
                display: false,
                text: 'Normal Legend'
            }
        }
    } );
</script>

