<div class='content reload-parent'>
    <div class='animated fadeIn reload-child'>

        <div class='row'>
            <div class='col'>
                <div class='card p-4'>
                    <div class='card-header'>
                        <div class='col d-flex justify-content-between p-0'>
                            <h3 class='text-uppercase'>PRODUCT DETAILS
                            </h3>
                            <div>
                                <p class="text-muted text-secondary mb-0">Added on {{product.addedDate}}</p>
                                <p class="text-muted text-secondary mb-0">Last modifed on {{product.lastModified}}</p>
                            </div>
                            <div>
                                <a class='btn btn-sm float-right mb-2
                                font-weight-bold text-light
                                badge-pending px-3' id="delete-product-button"
                                    onclick="deleteProduct(event,'{{product._id}}','single-view')">Delete</a>
                                <a class='btn btn-sm float-right
                                font-weight-bold text-light
                                badge-complete px-3' id="edit-product-button">Edit</a>
                                <a class='btn btn-sm float-right
                                font-weight-bold text-light
                                badge-pending px-3' id="cancel-edit-product-button" hidden>Cancel</a>
                            </div>

                        </div>
                    </div>
                    <div class='card-body card-block'>
                        <form action='/admin/edit-product/{{product._id}}' id="edit-product-form" method='post'
                            class='form-horizontal' , enctype='multipart/form-data'>

                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='product-name-input'
                                        class='form-control-label'>Product name</label>
                                </div>
                                <div class='col-12 col-md-9'><input type='text' id='product-name-input'
                                        name='productName' placeholder='Enter product name' class='form-control'
                                        value="{{product.product_name}}"
                                        onkeypress="return allowAlphanuemricOnly(event)" />
                                </div>
                            </div>
                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='brand-name-input' class='form-control-label'>Brand
                                        name</label>
                                </div>
                                <div class='col-12 col-md-9'><input type='text' id='brand-name-input' name='brandName'
                                        placeholder='Enter brand name' class='form-control' value="{{product.brand}}"
                                        onkeypress="return allowAlphanuemricOnly(event)" />
                                </div>
                            </div>
                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='select-product-type'
                                        class='form-control-label'>Product Type</label>
                                </div>
                                <div class='col-12 col-md-9'>
                                    <select name='type' id='select-product-type'
                                        class='edit-type-element form-control text-capitalize'>
                                        <option value="men">Men</option>
                                        <option value="women">Women</option>
                                        <option value="kids">Kids</option>
                                    </select>
                                </div>
                            </div>

                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='select-product-category'
                                        class='form-control-label'>Category</label></div>
                                <div class='col-12 col-md-9'>
                                    <select name='category' id='select-product-category'
                                        class='form-control edit-product-category-element'>

                                        {{#each
                                        categories
                                        }}
                                        <option value='{{this._id}}'>{{this.name}}
                                        </option>
                                        {{/each}}


                                    </select>
                                </div>
                            </div>
                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='price-input'
                                        class='form-control-label'>Price</label></div>
                                <div class='col-12 col-md-9'><input type='number' id='price-input' name='price'
                                        placeholder='Enter price' value="{{product.price}}" class='form-control' />
                                </div>
                            </div>

                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='offer-percentage' class='form-control-label'>Offer
                                        percentage (%)</label></div>
                                <div class='col-12 col-md-9'><input type='number' id='offer-percentage'
                                        name='offerPercentage'
                                        value="{{#if product.offerPercentage}}{{product.offerPercentage}}{{else}}0{{/if}}"
                                        placeholder='Enter offer percentage (optional)' class='form-control'
                                        onkeypress="return onlyTwoNumbers(this)" />
                                </div>
                            </div>

                            <div class='row form-group'>
                                <div class='col col-md-3'><label for='product-description'
                                        class='form-control-label'>Description</label>
                                </div>
                                <div class='col-12 col-md-9'><textarea name='description' id='product-description'
                                        rows='6' placeholder='Product description'
                                        class='form-control'>{{product.description}}</textarea>
                                </div>
                            </div>
                            <div class='row form-group'>
                                <div class='col'><label class='form-control-label'>Stock</label>
                                    <hr class="mt-2">
                                    <div class='row d-flex size-chart-row'>
                                        {{#each product.stock}}
                                        <div class='col-6 col-md-2 mb-3
                                            text-muted'>
                                            <label class='form-control-label size-chart-label'
                                                for="stock-{{this.size}}">{{this.size}}</label>
                                            <input id="stock-{{this.size}}" type='number' name='{{this.size}}'
                                                placeholder='{{this.size}}' class='form-control'
                                                value="{{this.stock}}" />
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>

                            </div>
                            <div class='row form-group'>
                                <div class='container'>
                                    <label class='form-control-label mt-3 mb-3'>
                                        Images</label>
                                    <div class='row'>

                                        {{#each product.images}}
                                        <div class='col-12 col-lg-3
                                            imgUp'>
                                            <div class="profile-pic-wrapper border">
                                                <div class="pic-holder">
                                                    <!-- uploaded pic shown here -->
                                                    <input type="text" class="update-image-id" value="{{this._id}}"
                                                        hidden>
                                                    <input type="text" class="update-image-value" name="updateImageIds"
                                                        hidden>
                                                    <img id="profilePic" class="pic"
                                                        src="/admin/product-images/{{this.filename}}">

                                                    <Input class="uploadProfileInput" type="file" name="product-image"
                                                        id="newProfilePhoto{{this.filename}}" accept="image/*"
                                                        style="opacity: 0;" / hidden>

                                                    <label for="newProfilePhoto{{this.filename}}"
                                                        class="upload-file-block">
                                                        <div class="text-center">
                                                            <div class="mb-2">
                                                                <i class="fa
                                                                    fa-camera
                                                                    fa-2x"></i>
                                                            </div>
                                                            <div class="text-uppercase">
                                                                Update <br />
                                                                Image
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        {{/each}}

                                    </div><!-- row -->
                                </div><!-- container -->

                            </div>
                            <div class='row form-group text-center mt-5'>
                                <div class='col'>
                                    <button type="submit" class='btn px-5 font-weight-bold
                                        text-light badge-complete'> Save updates </button>
                                </div>
                            </div>
                            <hr>
                            <div class="row mt-5">
                                <div>
                                    <h3 class='text-uppercase mb-2'> {{#if product.reviews}} Reviews and ratings
                                        {{else}} Reviews and ratings <span class="text-danger">
                                            (No reviews)</span> {{/if}}


                                    </h3>

                                </div>

                            </div>
                            {{#if product.reviews}}
                            <div class="col mx-auto p-5">
                                <div class="well well-sm">
                                    <div class="row align-items-center">
                                        <div class="col-xs-12 col-md-6 text-center">

                                            <h1 class="rating-num">
                                                {{product.averageRating}}.0</h1>

                                            <div>
                                                <span class="glyphicon glyphicon-user"></span>{{product.reviews.length}}
                                                total
                                            </div>

                                            <h2>
                                                <div class="d-flex flex-row mt-1 justify-content-center">
                                                    {{#each product.stars}}
                                                    <i
                                                        class="{{#if this}} fa fa-star  text-warning {{else}}fa fa-star-o text-secondary{{/if}}"></i>
                                                    {{/each}}
                                                </div>
                                            </h2>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="row rating-desc">

                                                <div class="col-xs-8 col-md-12">
                                                    <p class="mb-1">{{productRatingCounts.[4]._id}} - Very good quality
                                                        ({{productRatingCounts.[4].count}} ratings)</p>
                                                    <div class="progress mb-3">
                                                        <div class="progress-bar bg-success" role="progressbar"
                                                            style="width: {{productRatingCounts.[4].percentage}}%"
                                                            aria-valuenow="{{productRatingCounts.[4].count}}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="{{product.reviews.length}}">
                                                        </div>
                                                    </div>
                                                    <p class="mb-1">
                                                        {{productRatingCounts.[3]._id}} - Nice
                                                        ({{productRatingCounts.[3].count}} ratings)
                                                    </p>

                                                    <div class="progress mb-3">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{productRatingCounts.[3].percentage}}%"
                                                            aria-valuenow="{{productRatingCounts.[3].count}}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="{{product.reviews.length}}">
                                                        </div>
                                                    </div>
                                                    <p class="mb-1">
                                                        {{productRatingCounts.[2]._id}} - Average quality
                                                        ({{productRatingCounts.[2].count}} ratings)</p>
                                                    <div class="progress mb-3">
                                                        <div class="progress-bar bg-warning" role="progressbar"
                                                            style="width: {{productRatingCounts.[2].percentage}}%"
                                                            aria-valuenow="{{productRatingCounts.[2].count}}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="{{product.reviews.length}}">
                                                        </div>
                                                    </div>
                                                    <p class="mb-1">
                                                        {{productRatingCounts.[1]._id}} - Poor quality
                                                        ({{productRatingCounts.[1].count}} ratings)
                                                    </p>
                                                    <div class="progress mb-3">
                                                        <div class="progress-bar bg-secondary" role="progressbar"
                                                            style="width: {{productRatingCounts.[1].percentage}}%"
                                                            aria-valuenow="{{productRatingCounts.[1].count}}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="{{product.reviews.length}}">
                                                        </div>
                                                    </div>
                                                    <p class="mb-1">
                                                        {{productRatingCounts.[0]._id}} - Too bad
                                                        ({{productRatingCounts.[0].count}} ratings)
                                                    </p>
                                                    <div class="progress mb-3">
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            style="width: {{productRatingCounts.[0].percentage}}%"
                                                            aria-valuenow="{{productRatingCounts.[0].count}}"
                                                            aria-valuemin="0"
                                                            aria-valuemax="{{product.reviews.length}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end 5 -->

                                                <!-- end 1 -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{#each product.reviews}}

                            <div class="col-12 mb-3 border">
                                <div class="card p-3 pt-5">
                                    <p class="text-danger font-weight-bold mb-2">{{this.message}}</p>
                                    <p>{{this.comment}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="user-about"> <span
                                                class="font-weight-bold d-block">{{this.userDetails.username}}</span>
                                            <div class="d-flex flex-row mt-1">
                                                {{#each this.stars}}
                                                <i
                                                    class="{{#if this}} fa fa-star  text-warning {{else}}fa fa-star-o text-secondary {{/if}}"></i>
                                                {{/each}}
                                            </div>
                                        </div>

                                        <div class="user-image"> <img style=" width: 50px; height: 50px;"
                                                src="{{#if this.userDetails.profilePicture}} /admin/product-images/{{this.userDetails.profilePicture}} {{else}}/users/images/icons/profile_picture_placeholder.png{{/if}}"
                                                class="rounded-circle" width="70"> </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                    </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
</div>

<script src='https://code.jquery.com/jquery-3.1.1.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js'></script>
<script src='/admin/local_js/validation.js'></script>
<script src='/admin/local_js/script.js'></script>

<style>
    .imagePreview {
        width: 100%;
        height: 200px;
        background-position: center center;
        background:
            url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
        background-color: #fff;
        background-size: cover;
        background-repeat:
            no-repeat;
        display: inline-block;
        box-shadow: 0px 1px 1px 1px rgba(70,
                70, 70, 0.2);
    }

    .btn-primary {
        display: block;
        border-radius: 0px;
        box-shadow: 0px 2px 3px 1px rgba(75, 75, 75, 0.2);
        margin-top: -5px;
    }

    .imgUp {
        margin-bottom: 15px;
    }
</style>

<style>
    .profile-pic-wrapper {
        width: 100%;
        position: relative;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .pic-holder {
        text-align: center;
        position: relative;
        overflow: hidden;

        justify-content: center;
        align-items: center;
    }

    .pic-holder .pic {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .pic-holder .upload-file-block,
    .pic-holder .upload-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(90, 92, 105, 0.7);
        color: #f8f9fc;
        font-size: 12px;
        font-weight: 600;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    }

    .pic-holder .upload-file-block {
        cursor: pointer;
    }

    .pic-holder:hover .upload-file-block,
    .uploadProfileInput:focus~.upload-file-block {
        opacity: 1;
    }

    .pic-holder.uploadInProgress .upload-file-block {
        display: none;
    }

    .pic-holder.uploadInProgress .upload-loader {
        opacity: 1;
    }

    /* Snackbar css */
    .snackbar {
        visibility: hidden;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 14px;
        transform: translateX(-50%);
    }

    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }
</style>

<script>
    $(document).on("change", ".uploadProfileInput", function () {
        var triggerInput = this;
        var currentImg = $(this).closest(".pic-holder").find(".pic").attr("src");
        var updateImageId = $(this).closest(".pic-holder").find(".update-image-id").val()

        $(this).closest(".pic-holder").find(".update-image-value").val(updateImageId)

        var holder = $(this).closest(".pic-holder");
        var wrapper = $(this).closest(".profile-pic-wrapper");
        $(wrapper).find('[role="alert"]').remove();
        triggerInput.blur();
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) {
            return;
        }
        if (/^image/.test(files[0].type)) {
            // only image file
            var reader = new FileReader(); // instance of the FileReader
            reader.readAsDataURL(files[0]); // read the local file

            reader.onloadend = function () {
                $(holder).addClass("uploadInProgress");
                $(holder).find(".pic").attr("src", this.result);
                $(holder).append(
                    '<div class="upload-loader"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div>'
                );

                // Dummy timeout; call API or AJAX below

                $(holder).removeClass("uploadInProgress");
                $(holder).find(".upload-loader").remove();
                // If upload successful
                if (Math.random() < 0.9) {


                } else {
                    $(holder).find(".pic").attr("src", currentImg);
                    // Clear input after upload


                }

            };
        } else {
            $(wrapper).append(
                '<div class="alert alert-danger d-inline-block p-2 small" role="alert">Please choose the valid image.</div>'
            );


        }
    });

</script>