<header>
       <!-- Header desktop -->
       <div class="container-menu-desktop">
              <!-- Topbar -->

              <div class="wrap-menu-desktop ">
                     <nav class="limiter-menu-desktop container">

                            <!-- Logo desktop -->
                            <a href="#" class="logo">
                                   {{!-- <img src="/users/images/icons/logo-01.png" alt="IMG-LOGO" /> --}}
                                   <h3 class="text-dark font-weight-bold">FASHION STUDIO</h1>
                            </a>

                            <!-- Menu desktop -->
                            <div class="menu-desktop">
                                   <ul class="main-menu">
                                          <li class="active-menu">
                                                 <a href="/">Home</a>
                                          </li>

                                          <li>
                                                 <a href="/products/men">Men</a>
                                          </li>

                                          <li>
                                                 <a href="/products/women">Women</a>
                                          </li>

                                          <li>
                                                 <a href="/products/kids">Kids</a>
                                          </li>

                                   </ul>
                            </div>

                            <!-- Icon header -->
                            <div class="wrap-icon-header flex-w flex-r-m">
                                   <div
                                          class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                                          <i class="zmdi zmdi-search"></i>
                                   </div>

                                   <a 
                                          href="/cart" id="cartCount"
                                          class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                                          data-notify="{{#if session.user}}{{session.user.cartCount}}{{else}}0{{/if}}">
                                          <i class="material-icons">
                                                 shopping_bag
                                          </i>

                                   </a>

                                   <a href="/wishlist" id="wishlistCount"
                                          class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                                          data-notify="{{#if session.user}}{{session.user.wishlistCount}}{{else}}0{{/if}}">
                                          <i class="zmdi zmdi-favorite-outline"></i>
                                   </a>

                                   <div class="dropdown dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                          <a class="dropdown-btn">
                                                 <i class="material-icons">
                                                        account_circle
                                                 </i>
                                          </a>
                                          <ul class="dropdown-content">

                                                 <li>
                                                        {{#if session.userLogin}}
                                                        <a href="/profile">Hello
                                                               {{session.user.username}}<br />{{session.user.phoneNumber}}</a>
                                                        {{else}}
                                                         <a class="mb-3 cut-text" href="/profile">Hello
                                                               {{session.user.username}}</a>
                                                        <a href="" data-toggle="modal" data-target="#authModal"
                                                               class="btn bg1 btn-sm font-weight-bold px-3 text-light">Login
                                                               / Signup</a>
                                                        {{/if}}

                                                 </li>
                                                 <hr />

                                                 <li><a href="/orders">Your
                                                               orders</a></li>
                                                 <li><a href="/coupons">Coupons</a></li>
                                                 <li><a href="/cart">Cart</a></li>
                                                 <li><a href="/wishlist">Wishlist</a></li>
                                                 <li><a href="/about">About us</a></li>
                                                 <li><a href="/contact">Contact
                                                               us</a></li>
                                                 {{#if session.userLogin}}
                                                 <hr />
                                                 <li><a href="/logout">Logout</a></li>
                                                 {{/if}}
                                          </ul>
                                   </div>

                            </div>
                     </nav>
              </div>
       </div>

       <!-- Header Mobile -->
       <div class="wrap-header-mobile">
              <!-- Logo moblie -->
              <div class="logo-mobile">
                     <a href="index.html"><img src="/users/images/icons/logo-01.png" alt="IMG-LOGO" /></a>
              </div>

              <!-- Icon header -->
              <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                     <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                     </div>

                     <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
                            data-notify="2">
                            <i class="zmdi zmdi-shopping-cart"></i>
                     </div>

                     <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
                            data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                     </a>
                     <div class="dropdown dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-10 p-r-11">
                            <a class="dropdown-btn">
                                   <i class="material-icons">
                                          account_circle
                                   </i>
                            </a>
                            <ul class="dropdown-content">
                                   <li>

                                          {{!-- <a href="/profile">Hello Muneeb T<br />9484777234</a> --}}

                                          <a href="/profile">Login/Signup</a>

                                   </li>
                                   <hr />
                                   <li><a href="/orders">Your orders</a></li>
                                   <li><a href="/coupons">Coupons</a></li>
                                   <li><a href="/cart">Cart</a></li>
                                   <li><a href="/wishlist">Wishlist</a></li>
                                   <li><a href="/about">About us</a></li>
                                   <li><a href="/contact">Contact us</a></li>
                                   <hr />
                                   <li><a href="/logout">Logout</a></li>
                            </ul>
                     </div>
              </div>

              <!-- Button show menu -->
              <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                     <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                     </span>
              </div>
       </div>

       <!-- Menu Mobile -->
       <div class="menu-mobile">

              <ul class="main-menu-m">
                     <li>
                            <a href="index.html">Home</a>
                            <ul class="sub-menu-m">
                                   <li><a href="index.html">Homepage 1</a></li>
                                   <li><a href="home-02.html">Homepage 2</a></li>
                                   <li><a href="home-03.html">Homepage 3</a></li>
                            </ul>
                            <span class="arrow-main-menu-m">
                                   <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>
                     </li>

                     <li>
                            <a href="product.html">Shop</a>
                     </li>

                     <li>
                            <a href="/cart" class="label1 rs1">Features</a>
                     </li>

                     <li>
                            <a href="blog.html">Blog</a>
                     </li>

                     <li>
                            <a href="about.html">About</a>
                     </li>

                     <li>
                            <a href="contact.html">Contact</a>
                     </li>
              </ul>

       </div>

       <!-- Modal Search -->
       <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
              <div class="container-search-header">
                     <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                            <img src="/users/images/icons/icon-close2.png" alt="CLOSE" />
                     </button>

                     <form class="wrap-search-header flex-w p-l-15">
                            <button class="flex-c-m trans-04">
                                   <i class="zmdi zmdi-search"></i>
                            </button>
                            <input class="plh3" type="text" name="search" placeholder="Search..." />
                     </form>
              </div>
       </div>
</header>






<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true"
       style="z-index: 10000;">
       <div class="modal-dialog" role="document">
              <div class="modal-content">

                     <div class="modal-body p-0">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                   <li class="nav-item w-50">
                                          <a class="nav-link active font-weight-bold text-center p-3" id="home-tab"
                                                 data-toggle="tab" href="#login" role="tab" aria-controls="home"
                                                 aria-selected="true">Login</a>
                                   </li>
                                   <li class="nav-item w-50">
                                          <a class="nav-link font-weight-bold text-center p-3" id="profile-tab"
                                                 data-toggle="tab" href="#signup" role="tab" aria-controls="profile"
                                                 aria-selected="false">Signup</a>
                                   </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                   <div class="tab-pane fade show active" id="login" role="tabpanel"
                                          aria-labelledby="home-tab">
                                          <div class="flex-w flex-tr">
                                                 <div class="size-150  p-lr-50 p-t-55 p-b-70 p-lr-15-lg w-full">
                                                        <form id="user-login-form">
                                                               <h4 class="mtext-105 cl2 txt-center p-b-30">
                                                                      Login
                                                               </h4>

                                                               <div class="bor8 m-t-10 how-pos4-parent">
                                                                      <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
                                                                             type="text" name="usernameOrEmail"
                                                                             placeholder="Username or Email Address"
                                                                             value="Muneeb T">

                                                                      <i class="material-icons  how-pos4 pointer-none">
                                                                             person
                                                                      </i>
                                                               </div>

                                                               <div class="bor8 m-t-30 how-pos4-parent">
                                                                      <input class="stext-111 cl2 plh4 size-116 p-l-62 p-r-30"
                                                                             type="password" name="password"
                                                                             placeholder="Password" value="mnbth@123">

                                                                      <i class="material-icons  how-pos4 pointer-none">
                                                                             key
                                                                      </i>
                                                               </div>

                                                               <p id="loginError"
                                                                      class="mb-0 mt-3 mb-3 font-weight-bold text-danger text-center">
                                                               </p>

                                                               <button
                                                                      class="flex-c-m stext-101 cl0 m-t-30 size-121 bg1 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                                                                      LOGIN
                                                               </button>
                                                        </form>
                                                        <div class="mt-3 text-center">
                                                               <a class="text-secondary mr-2" href="">Create new
                                                                      account?</a>
                                                               <a class="text-secondary" href="">Forgot password?</a>
                                                        </div>

                                                 </div>
                                          </div>
                                   </div>
                                   <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="profile-tab">
                                          <div class="tab-pane fade show active" id="login" role="tabpanel"
                                                 aria-labelledby="home-tab">
                                                 <div class="flex-w flex-tr">
                                                        <div class="size-150  p-lr-50 p-t-30 p-b-70 p-lr-15-lg w-full">
                                                               <form id="user-signup-form">
                                                                      <h4 class="mtext-105 cl2 txt-center p-b-20">
                                                                             SignUp
                                                                      </h4>

                                                                      <div class="bor8 m-t-10 how-pos4-parent">
                                                                             <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
                                                                                    type="text" name="username"
                                                                                    placeholder="Username">

                                                                             <i
                                                                                    class="material-icons  how-pos4 pointer-none">
                                                                                    person
                                                                             </i>
                                                                      </div>

                                                                      <div class="bor8 m-t-20 how-pos4-parent">
                                                                             <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
                                                                                    type="text" name="email"
                                                                                    placeholder="Email address">

                                                                             <i
                                                                                    class="material-icons  how-pos4 pointer-none">
                                                                                    email
                                                                             </i>
                                                                      </div>

                                                                      <div class="bor8 m-t-20 how-pos4-parent">
                                                                             <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
                                                                                    type="number" name="phone_number"
                                                                                    onkeypress="phoneNumberTenDigitsOnly(event,this)"
                                                                                    placeholder="Phone number">

                                                                             <i
                                                                                    class="material-icons  how-pos4 pointer-none">
                                                                                    phone
                                                                             </i>
                                                                      </div>

                                                                      <div class="bor8 m-t-20 how-pos4-parent">
                                                                             <input class="stext-111 cl2 plh4 size-116 p-l-62 p-r-30"
                                                                                    type="password" name="password"
                                                                                    placeholder="Password">

                                                                             <i
                                                                                    class="material-icons  how-pos4 pointer-none">
                                                                                    key
                                                                             </i>
                                                                      </div>

                                                                      <p id="signupError"
                                                                             class="mb-0 mt-3 font-weight-bold text-danger text-center">
                                                                      </p>

                                                                      <button type="submit"
                                                                             class="flex-c-m stext-101 m-t-30 cl0 size-121 bg1 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                                                                             Signup
                                                                      </button>
                                                               </form>

                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>

                     </div>
              </div>
       </div>
</div>


<div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="otpModalLabel" aria-hidden="true"
       style="z-index: 10000;">
       <div class="modal-dialog" role="document">
              <div class="modal-content">

                     <div class="modal-body otpModalBody m-0 p-5">

                            <div class="container height-100 d-flex justify-content-center align-items-center">
                                   <div class="position-relative">
                                          <div class="text-center">
                                                 <h4 id="otpFormHeading">Please enter the one time password <br> to
                                                        verify your account</h4>
                                                 <div class="mb-3"> <span>A code has been sent to</span>
                                                        <small id="otpPhoneNumber"></small>
                                                 </div>
                                                 <form id="otp-form" action="/verifyOtp">
                                                        <div id="otp"
                                                               class="inputs d-flex flex-row justify-content-center mt-2">
                                                               <input class="m-2 text-center form-control form-control-lg rounded"
                                                                      name="otp" type="text" id="first" maxlength="1" />
                                                               <input class="m-2 text-center form-control form-control-lg rounded"
                                                                      name="otp" type="text" id="second"
                                                                      maxlength="1" />
                                                               <input class="m-2 text-center form-control form-control-lg rounded"
                                                                      name="otp" type="text" id="third" maxlength="1" />
                                                               <input class="m-2 text-center form-control form-control-lg rounded"
                                                                      name="otp" type="text" id="fourth"
                                                                      maxlength="1" />
                                                               <input class="m-2 text-center form-control form-control-lg rounded"
                                                                      name="otp" type="text" id="fifth" maxlength="1" />
                                                               <input class="m-2 text-center form-control form-control-lg rounded"
                                                                      name="otp" type="text" id="sixth" maxlength="1" />
                                                        </div>
                                                        <p id="otpError"
                                                               class="text-center font-weight-bold mt-2 text-danger">
                                                        </p>
                                                        <button type="submit"
                                                               class="mb-3 flex-c-m stext-101 m-t-30 cl0 size-121 bg1 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                                                               Verify
                                                        </button>
                                                 </form>
                                                 <button class="btn text-secondary" id="resendOtp">Resend otp?</button>


                                          </div>
                                   </div>
                            </div>


                     </div>
              </div>
       </div>
</div>

<script>
       document.addEventListener("DOMContentLoaded", function (event) {

              function OTPInput() {
                     const inputs = document.querySelectorAll('#otp > *[id]');
                     for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function (event) { if (event.key === "Backspace") { inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus(); } else { if (i === inputs.length - 1 && inputs[i].value !== '') { return true; } else if (event.keyCode > 47 && event.keyCode < 58) { inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode > 64 && event.keyCode < 91) { inputs[i].value = String.fromCharCode(event.keyCode); if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); }
              } OTPInput();
       });

</script>
