<!-- Shoping Cart -->
<div class="bg0 p-b-85 p-t-100">
       <div class="container reload">
              {{#if cartDetails}}
              <div class="row">

                     <div class="col-lg-10 col-xl-8 m-lr-auto m-b-50">
                            <div class="m-l-25 m-r--38 m-lr-0-xl">

                                   <div class="wrap-table-shopping-cart">
                                          <table class="table-shopping-cart">
                                                 <tr class="table_head">
                                                        <th class="column-1">Product</th>
                                                        <th class="column-2"></th>
                                                        <th class="text-center">Price</th>
                                                        <th class="text-center">Quantity</th>
                                                        <th class="text-center">Total</th>
                                                        <th class="text-center">Remove</th>
                                                 </tr>
                                                 {{#each cartDetails}}
                                                 <tr class="table_row">

                                                        <td class="column-1
                                                               pb-0">
                                                               <a class="how-itemcart1"
                                                                      href="/product-view{{this.bagItem._id}}">
                                                                      <img src="/admin/product-images/{{this.bagItem.image.filename}}"
                                                                             alt="IMG" />
                                                               </a>
                                                        </td>

                                                        <td class="column-2
                                                               p-4">{{this.bagItem.product_name}}
                                                               <br>
                                                               <small
                                                                      class="text-secondary">{{this.bagItem.brand}}</small>
                                                               <br>
                                                               <select id="selectSize{{this.bagItem._id}}{{this.size}}"
                                                                      class="form-control
                                                                      form-control-sm
                                                                      mt-2
                                                                      dropdown-toggle" style="width:
                                                                      auto;"
                                                                      onclick="updateCart('size','{{this.size}}','{{this.bagItem._id}}')">
                                                                      <option class="px-4
                                                                             form-control
                                                                             form-control-sm" value="{{this.size}}"
                                                                             selected>
                                                                             {{this.size}}
                                                                      </option>
                                                                      {{#each
                                                                      this.bagItem.sizes}}
                                                                      <option class="m-0
                                                                             form-control
                                                                             form-control-sm" value="{{this.size}}">
                                                                             {{this.size}}
                                                                      </option>
                                                                      {{/each}}
                                                               </select>
                                                        </td>
                                                        <td class="column-3
                                                               text-center
                                                               px-3">Rs.{{this.bagItem.price}}
                                                        </td>
                                                        <td class="column-4
                                                               text-center">
                                                               <div class="wrap-num-product
                                                                      flex-w
                                                                      m-l-auto
                                                                      m-r-0">
                                                                      <div class="btn-num-product-down
                                                                             cl8
                                                                             hov-btn3
                                                                             trans-04
                                                                             flex-c-m"
                                                                             onclick="updateCart('count','{{this.size}}','{{this.bagItem._id}}',-1)">
                                                                             <i class="fs-16
                                                                                    zmdi
                                                                                    zmdi-minus"></i>
                                                                      </div>
                                                                      <input class="mtext-104
                                                                             cl3
                                                                             txt-center
                                                                             num-product" type="number"
                                                                             name="num-product1"
                                                                             id="cartCount{{this.bagItem._id}}{{this.size}}"
                                                                             value="{{this.count}}" disabled />
                                                                      <div class="btn-num-product-up
                                                                             cl8
                                                                             hov-btn3
                                                                             trans-04
                                                                             flex-c-m"
                                                                             onclick="updateCart('count','{{this.size}}','{{this.bagItem._id}}',1)">
                                                                             <i class="fs-16
                                                                                    zmdi
                                                                                    zmdi-plus"></i>
                                                                      </div>
                                                               </div>
                                                               <div>
                                                                      <p class="text-danger"
                                                                             id="cartUpdationError{{this.bagItem._id}}{{this.size}}">
                                                                      </p>
                                                               </div>
                                                        </td>

                                                        <td class="column-5
                                                               text-center
                                                               px-3">Rs.{{this.total}}</td>
                                                        <td class="column-5">
                                                               <button type="button" class="close 
                                                                      m-0 p-0" aria-label="Close"
                                                                      onclick="updateCart('remove','{{this.size}}','{{this.bagItem._id}}')">
                                                                      <span aria-hidden="true">&times;</span>
                                                               </button>
                                                        </td>

                                                 </tr>
                                                 {{/each}}
                                          </table>
                                   </div>


                            </div>
                     </div>

                     <div class="col-sm-10 col-lg-6 col-xl-4 m-lr-auto m-b-50">

                            <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-20
                                   m-r-20 m-lr-0-xl p-lr-15-sm">
                                   {{#if session.userLogin}}
                                   {{#if cartDetails.[0].couponApplied}}
                                   <div class="d-flex justify-content-between bor12 p-b-13 mb-5 align-items-center">
                                          <h6 class="font-weight-bold text-dark d-flex align-items-center">
                                                 <div>
                                                        <i class="fa fa-tag mr-3"></i>
                                                 </div>
                                                 <div>
                                                        1 Coupon
                                                        applied<br><span class="text-success font-weight-light">You
                                                               saved
                                                               Rs.{{cartSubtotal.discount}}</span>
                                                 </div>
                                          </h6>
                                          <button class="btn btn-sm cl1 font-weight-bold rounded-pill px-3  bor14"
                                                 data-toggle="modal" data-target="#applyCouponModal"
                                                 style="border-color:  #717fe0;">Edit</button>
                                   </div>
                                   {{else}}
                                   <div class="d-flex justify-content-between bor12 p-b-13 mb-5 align-items-center">
                                          <h6 class="font-weight-bold text-dark"><i class="fa fa-tag mr-3"></i>Apply
                                                 coupons</h6>
                                          <button class="btn btn-sm cl1 font-weight-bold rounded-pill px-3  bor14"
                                                 data-toggle="modal" data-target="#applyCouponModal"
                                                 style="border-color:  #717fe0;">Apply</button>
                                   </div>
                                   {{/if}}
                                   {{/if}}

                                   <h4 class="mtext-109 cl2 p-b-30">
                                          Cart Totals
                                   </h4>

                                   <div class="flex-w flex-t p-b-13 justify-content-between">
                                          <div class="">
                                                 <span class="stext-110 cl2">
                                                        Subtotal:
                                                 </span>
                                          </div>

                                          <div class="">
                                                 <span class="mtext-110 cl2">
                                                        Rs.{{cartSubtotal.totalPrice}}
                                                 </span>
                                          </div>
                                   </div>

                                   <div class="flex-w flex-t bor12 p-b-13 justify-content-between">
                                          <div class="">
                                                 <span class="stext-110 cl2">
                                                        Discount
                                                 </span>
                                          </div>

                                          <div class="">
                                                 <span class="mtext-110 cl2">
                                                        Rs.{{cartSubtotal.discount}}
                                                 </span>
                                          </div>
                                   </div>

                                   <div class="flex-w flex-t p-t-27 p-b-33 justify-content-between">
                                          <div class="">
                                                 <span class="mtext-101 cl2">
                                                        Amount payable:
                                                 </span>
                                          </div>

                                          <div class="p-t-1">
                                                 <span class="mtext-110 cl2">
                                                        Rs.{{cartSubtotal.amountPayable}}
                                                 </span>
                                          </div>
                                   </div>

                                   <a class="flex-c-m stext-101 cl0 size-116
                                          bg1 bor14 hov-btn3 p-lr-15 trans-04
                                          pointer" href="{{#if session.userLogin}}/checkout{{/if}}"
                                          data-toggle="{{#unless session.userLogin}}modal{{/unless}}"
                                          data-target="{{#unless session.userLogin}}#authModal{{/unless}}">
                                          Proceed to Checkout
                                   </a>
                            </div>
                     </div>
              </div>
              {{else}}

              <div class="container-fluid  mt-100">
                     <div class="row">

                            <div class="col-md-12">


                                   <div class="card-body cart">
                                          <div class="col-sm-12 empty-cart-cls text-center">
                                                 <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                                        class="img-fluid mb-4 mr-3">
                                                 <h3><strong>Oops! Your Cart is Empty</strong></h3>
                                                 <h5 class="mt-2">Looks like you have not added anything to your cart.Go
                                                        ahead and explore.</h5>
                                                 <a href="/"
                                                        class="btn m-3 stext-101 cl0 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                                                        data-abc="true">Continue Shopping</a>


                                          </div>
                                   </div>

                            </div>

                     </div>

              </div>

              {{/if}}

       </div>
</div>

<div class="modal fade" id="applyCouponModal" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10000;">
       <div class="modal-dialog" role="document">
              <div class="modal-content">
                     <div class="modal-header">
                            <h5 class="modal-title font-weight-bold text-uppercase m-2" id="applyCouponModalLabel">Apply
                                   coupons</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                            </button>
                     </div>
                     <div class="modal-body p-5 reload-modal">
                            {{!-- <div class="bor8 bg0
                                    m-b-12 d-flex mb-4">

                                   <input class="stext-111
                                        cl8 plh3
                                        size-111
                                        p-lr-15" type="text" name="couponCode" placeholder="Enter coupon code" />
                                   <button
                                          class="btn btn-primary text-uppercase stext-111 font-weight-bold">Check</button>
                            </div> --}}
                            <form id="couponForm">
                                   <div style="height: 40vh; overflow-y: scroll; overflow-x: hidden;">
                                          {{#if coupons}}
                                          {{#each coupons}}
                                          <div class="mt-3 row bor12 pb-2">
                                                 <div class="col-auto mt-2 pr-0">
                                                        <input type="checkbox" id="couponCheckbox{{this._id}}"
                                                               onchange="changeSavings(this,'{{this.savings}}')"
                                                               class="couponCheckbox" value="{{this._id}}" name="coupon"
                                                               {{#ifeq this._id ../cartSubtotal.appliedCoupon }} checked
                                                               {{/ifeq}}>
                                                 </div>
                                                 <div class="col">
                                                        <button onclick="event.preventDefault(); clickCouponCheckbox(this,'{{this._id}}')"
                                                               class="btn btn-outline-primary mb-3">{{this.couponCode}}</button>
                                                        <p class="font-weight-bold">Save Rs.{{this.savings}}</p>
                                                        <p class="font-weight-bold">{{this.discount}}% off on minimum
                                                               purchase
                                                               of
                                                               Rs.{{this.minimumPurchaseAmount}}</p>
                                                        <p class="font-weight-bold">Expires on {{this.expiryDate}}</p>
                                                 </div>
                                          </div>
                                          {{/each}}
                                          {{else}}
                                          <p class="text-danger font-weight-bold">No coupons availabe</p>
                                          {{/if}}
                                   </div>
                            </form>
                           <div>
                            <p class="text-danger" id="applyCouponError"></p>
                           </div>
                            <div class="modal-footer justify-content-between p-0 pt-3 mt-2">
                                   <div>
                                          <p>Maximum savings</p>
                                          <p class="font-weight-bold" id="maximumSavings">Rs.0</p>
                                   </div>

                                   <button type="submit" form="couponForm"
                                          class="btn btn-primary w-50 font-weight-bold">Apply</button>
                            </div>
                     </div>
              </div>
       </div>
</div>

<script src='https://code.jquery.com/jquery-3.1.1.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js'></script>

<script src="/users/local_js/validate.js"></script>
<script src="/users/local_js/script.js"></script>

<script>
       $(".couponCheckbox").change(function () {
              $(".couponCheckbox").not(this).prop('checked', false);
       });
</script>


