<div class="container mb-3 p-t-100">
    <div class="row">

        <div class="col col-xl-8 flex-w flex-t
            p-b-30" style="display: block;">
            <div class="card shadow ">
                <div class="card-body">
                    <form id="checkoutForm" action="/placeOrder" method="post">
                        <div class="p-r-18 p-r-0-sm
                            w-full-ssm">
                            <div class="p-3" style="background-color: #717fe0;">
                                <span class="stext-110 cl2 text-light">
                                    Delivery address:
                                </span>
                            </div>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" id="choosAddressButton" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Choose address
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body" id="chooseAddressSection">
                                            {{#if addressList}}
                                            {{#each addressList}}
                                            <div class="row" id="addressDiv{{this._id}}">

                                                <div class="col-auto mt-2">
                                                    <input type="radio" value="{{this._id}}" class="form-control"
                                                        name="address" required>
                                                </div>
                                                <div class="col">
                                                    <p>{{this.name}},
                                                        {{this.houseName}},<br>
                                                        {{this.town}},{{this.district}},
                                                        <br>{{this.state}},
                                                        {{this.pincode}}
                                                    </p>

                                                    <p>Email :
                                                        {{this.email}}</p>
                                                    <p>Phone :
                                                        {{this.phoneNumber}}</p>
                                                </div>
                                            </div>
                                            <hr>
                                            {{/each}}

                                            {{else}}
                                            <div class="card-body cart my-5" id="addressNotAvailable">
                                                <div class="col-sm-12 empty-cart-cls text-center">
                                                    {{!-- <img
                                                        src="https://img.icons8.com/color/48/000000/order-history.png"
                                                        width="100" height="100" class="img-fluid mb-4 mr-3"> --}}
                                                    <h3><strong>Oops! Address not available.</strong></h3>
                                                    <h5 class="mt-2">Please add new address</h5>


                                                </div>
                                            </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link
                                                collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Or Add new address
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body p-3">
                                            <div class="p-t-15">

                                                <div class="bor8 bg0
                                                    m-b-12">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="name" form="addNewAddressForm"
                                                        placeholder="Enter name" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-12">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="houseName" form="addNewAddressForm"
                                                        placeholder="House name" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-12">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="town" form="addNewAddressForm"
                                                        placeholder="town" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-12">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="district" form="addNewAddressForm"
                                                        placeholder="District" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-12">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="state" form="addNewAddressForm"
                                                        placeholder="State" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-22">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="pincode" form="addNewAddressForm"
                                                        placeholder="Pin code" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-22">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="email" name="email" form="addNewAddressForm"
                                                        placeholder="Email address" />
                                                </div>
                                                <div class="bor8 bg0
                                                    m-b-22">
                                                    <input class="stext-111
                                                        cl8 plh3
                                                        size-111
                                                        p-lr-15" type="text" name="phoneNumber"
                                                        form="addNewAddressForm" placeholder="Phone number" />
                                                </div>
                                                <button type="submit" class="btn btn-primary"
                                                    form="addNewAddressForm">Save and choose</button>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>




                        </div>


                        <div class="p-r-18 p-t-30 p-r-0-sm w-full-ssm mt-3">
                            <div class="p-3 w-100" style="background-color:
                                #717fe0;">
                                <span class="stext-110 cl2 text-light">
                                    Payment options:
                                </span>
                            </div>


                            <div class="p-t-15 ml-4">

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod"
                                        id="razorpayPayment" value="razorpay" checked>
                                    <label class="form-check-label" for="razorpayPayment">
                                        Razorpay
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentMethod" id="cod"
                                        value="cod">
                                    <label class="form-check-label" for="cod">
                                        Cash on delivery
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="size-209 p-r-8 p-r-0-sm mt-5">
                            <div class="flex-w">
                                <button type="{{#if
                                    session.userLogin}}submit{{/if}}" onclick="{{#unless
                                    session.userLogin}}event.preventDefault(){{/unless}}" data-toggle="{{#unless
                                    session.userLogin}}modal{{/unless}}" data-target="{{#unless
                                    session.userLogin}}#authModal{{/unless}}" class="flex-c-m
                                    stext-101
                                    text-light
                                    size-115
                                    bg1 bor13
                                    hov-btn3
                                    p-lr-15
                                    trans-04
                                    pointer">
                                    Place order
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-xl-4">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h5 class="card-title text-dark font-weight-bold">Price
                        details</h5>
                    <hr>
                    <div class="d-flex justify-content-between">

                        <h6 class="card-subtitle mb-2 mt-4 text-muted
                            font-weight-bold">Price ({{productsCount}} items)
                        </h6>
                        <h6 class="card-subtitle mb-2 mt-4 text-muted
                            font-weight-bold">Rs.{{priceDetails.totalPrice}}
                        </h6>
                    </div>
                    <div class="d-flex justify-content-between">

                        <h6 class="card-subtitle mb-2 mt-4 text-muted
                            font-weight-bold">Discount</h6>
                        <h6 class="card-subtitle mb-2 mt-4 text-muted
                            font-weight-bold">Rs.{{priceDetails.discount}}</h6>
                    </div>
                    <hr class="mb-0">
                    <div class="d-flex justify-content-between">

                        <h6 class="text-dark mb-2 mt-4 font-weight-bold">Total
                            payable</h6>
                        <h6 class="text-dark mb-2 mt-4 font-weight-bold">Rs.{{priceDetails.amountPayable}}</h6>
                    </div>
                    <p class="text-success mt-3 font-weight-bold">Your total
                        savings on this order Rs.{{priceDetails.discount}}</p>
                </div>
            </div>
        </div>
    </div>



</div>



<script src='https://code.jquery.com/jquery-3.1.1.js'></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>;
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js'></script>
<script src="/users/local_js/validate.js"></script>
<script src="/users/local_js/script.js"></script>


<form action="/saveAddress" id="addNewAddressForm"></form>

<script>
    $('#addNewAddressForm').validate({
        debug: false,
        errorClass: 'authError text-danger text-uppercase stext-111 text-center',
        highlight(element) {
            $(element).removeClass('text-uppercase');
        },
        rules: {
            name: { required: true },
            houseName: { required: true },
            town: { required: true },
            district: { required: true },
            state: { required: true },
            pincode: { required: true },
            email: { required: true },
            phoneNumber: { required: true }
        },
        messages: {
            name: { required: "Enter name" },
            houseName: { required: "Enter house name" },
            town: { required: "Enter town" },
            district: { required: "Enter district" },
            state: { required: "Enter state" },
            pincode: { required: 'Enter pincode' },
            email: { required: "Enter email address" },
            phoneNumber: { required: "Enter phone number" }
        },
        submitHandler(form) {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            const formData = $(form).serialize();
            const actionUrl = $(form).attr('action');
            $.ajax({
                type: 'POST',
                url: actionUrl,
                data: formData,
                success: (response) => {
                    if (response.error500) {
                        window.location.href = '/error500';
                    }
                    if (response.addressSaved) {

                        $('#chooseAddressSection')
                            .prepend(`<div class="row" id="addressDiv${response.newAddressId}">
                                             
                                                        <div class="col-auto mt-2">
                                                           <input type="radio" value="${response.newAddressId}"
                                                               class="form-control" name="address" required checked>
                                                       </div>
                                                       <div class="col">
                                                           <p>${response.savedAddress.name},
                                                               ${response.savedAddress.houseName},<br>
                                                               ${response.savedAddress.town},${response.savedAddress.district},
                                                               <br>${response.savedAddress.state},
                                                               ${response.savedAddress.pincode}
                                                           </p>

                                                           <p>Email :
                                                               ${response.savedAddress.email}</p>
                                                           <p>Phone :
                                                               ${response.savedAddress.phoneNumber}</p>
                                                       </div>
                                                
                                              
                                           </div>
                                           
                                            <hr>`);
                        $(form)[0].reset();

                        $('#choosAddressButton').trigger('click');
                        $('#addressNotAvailable').remove()
                    }
                },
            });
        },
    });

</script>