<div class="container mb-5">
       <div class="row p-t-100">
              <div class="col-md-6 col-lg-5 p-b-30">
                     <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                   <div class="wrap-slick3-dots"></div>
                                   <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                   <div class="slick3 gallery-lb">
                                          {{#each product.images}}
                                          <div class="item-slick3" data-thumb="/admin/product-images/{{this.filename}}">
                                                 <div class="wrap-pic-w pos-relative">
                                                        <img class="img" src="/admin/product-images/{{this.filename}}"
                                                               alt="IMG-PRODUCT" />

                                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                               href="/admin/product-images/{{this.filename}}">
                                                               <i class="fa fa-expand"></i>
                                                        </a>
                                                 </div>
                                          </div>
                                          {{/each}}

                                   </div>

                            </div>
                     </div>
              </div>

              <div class="col-md-6 col-lg-7 p-b-30">
                     <div class="p-r-50 p-t-5 p-lr-0-lg">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                   {{product.product_name}}
                            </h4>
                            <h5 class="text-secondary cl2 js-name-detail p-b-14">
                                   {{product.brand}}
                            </h5>

                            <div class="d-flex">
                                   <span class="mtext-106 {{#if product.offerPrice}} text-danger {{/if}} mr-3">
                                          {{#if product.offerPrice}}
                                          <del>Rs.{{product.price}}</del>
                                          {{else}}
                                          Rs.{{product.price}}
                                          {{/if}}

                                   </span>

                                   {{#if product.offerPrice}}
                                   <span class="mtext-106 cl2 mr-2">

                                          Rs.{{product.offerPrice}}

                                          <span class="text-success font-weight-bold text-small">
                                                 ({{product.offerPercentage}} %off)
                                          </span>

                                   </span>
                                   {{/if}}
                            </div>


                            <p class="stext-102 cl3 p-t-23">
                                   {{product.description}}
                            </p>

                            <!--  -->
                            <div class="p-t-33">
                                   <div class="flex-w flex-r-m p-b-10">
                                          <div class="size-203 flex-c-m respon6">
                                                 Size
                                          </div>

                                          <div class="size-204 respon6-next">
                                                 <div class="rs1-select2 bor8 bg0">
                                                        <select class="js-select2" form="add-to-bag-form" name="size">
                                                               {{#each product.sizes}}
                                                               <option value="{{this.size}}">{{this.size}}</option>
                                                               {{/each}}
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                 </div>
                                          </div>
                                   </div>


                                   <div class="flex-w justify-content-center p-b-10">
                                          <div class="size-204 flex-w flex-m respon6-next">
                                                 <div class="wrap-num-product mx-auto mb-4 flex-w m-r-20 m-tb-10">
                                                        <div
                                                               class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                               <i class="fs-16 zmdi zmdi-minus"></i>
                                                        </div>

                                                        <input class="mtext-104 cl3 txt-center num-product"
                                                               type="number" form="add-to-bag-form" name="productCount"
                                                               value="1" />

                                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                               <i class="fs-16 zmdi zmdi-plus"></i>
                                                        </div>
                                                 </div>
                                                 <div class="row">

                                                        <div class="col">
                                                               <button type="submit" form="add-to-bag-form"
                                                                      class="mx-auto flex-w align-items-center justify-content-center stext-101 mb-3 cl0 size-101 bg1 bor1 hov-btn1 trans-04 js-addcart-detail">
                                                                      <i class="material-icons mr-2">
                                                                             shopping_bag
                                                                      </i>
                                                                      Add to bag
                                                               </button>
                                                        </div>
                                                        <div class="col">
                                                               <button class="flex-w mx-auto align-items-center justify-content-center stext-101 cl0 size-101 bg-danger bor1 hov-btn1  trans-04 js-addcart-detail wishlist-button"
                                                                      onclick="addToWishlist('{{product._id}}','quickView')">

                                                                      {{#if
                                                                      product.wishlisted.wishlisted}} <span
                                                                             class="material-icons mr-2">
                                                                             favorite
                                                                      </span>Wishlisted{{else}} <span
                                                                             class="material-icons mr-2">
                                                                             favorite
                                                                      </span>Wishlist{{/if}}
                                                               </button>










                                                        </div>
                                                 </div>
                                                 <div>
                                                        <p id="addToCartError" class="text-danger"></p>
                                                 </div>

                                          </div>
                                   </div>
                            </div>


                     </div>
              </div>



              <div class="container mt-4">
                     <form id="ratingForm" method="get">


                            {{#if session.userLogin}}

                            <div class="wrapper">
                                   <div class="master">

                                          <h2>How was your experience about our product?</h2>

                                          <div class="rating-component">
                                                 <input class="rating_msg" form="ratingForm" type="hidden"
                                                        name="rating_msg" value="" />
                                                 <div class="status-msg">
                                                        <label>
                                                        </label>
                                                 </div>
                                                 <div class="stars-box">
                                                        <i class="star fa fa-star" title="1 star" data-message="Poor"
                                                               data-value="1"></i>
                                                        <i class="star fa fa-star" title="2 stars"
                                                               data-message="Too bad" data-value="2"></i>
                                                        <i class="star fa fa-star" title="3 stars"
                                                               data-message="Average quality" data-value="3"></i>
                                                        <i class="star fa fa-star" title="4 stars" data-message="Nice"
                                                               data-value="4"></i>
                                                        <i class="star fa fa-star" title="5 stars"
                                                               data-message="Very good quality" data-value="5"></i>
                                                 </div>
                                                 <div class="starrate">
                                                        <label>
                                                               <input class="ratevalue" type="hidden" name="rate_value"
                                                                      form="ratingForm" value="" />
                                                        </label>
                                                 </div>
                                          </div>

                                          <div class="feedback-tags">
                                                 <div class="tags-container" data-tag-set="1">
                                                        <div class="question-tag">
                                                               Why was your experience so bad?
                                                        </div>
                                                 </div>
                                                 <div class="tags-container" data-tag-set="2">
                                                        <div class="question-tag">
                                                               Why was your experience so bad?
                                                        </div>

                                                 </div>

                                                 <div class="tags-container" data-tag-set="3">
                                                        <div class="question-tag">
                                                               Why was your average rating experience ?
                                                        </div>
                                                 </div>
                                                 <div class="tags-container" data-tag-set="4">
                                                        <div class="question-tag">
                                                               Why was your experience good?
                                                        </div>
                                                 </div>

                                                 <div class="tags-container" data-tag-set="5">
                                                        <div class="make-compliment">
                                                               <div class="compliment-container">
                                                                      Give a compliment
                                                                      <i class="far fa-smile-wink"></i>
                                                               </div>
                                                        </div>
                                                 </div>

                                                 <div class="text-center text-danger">
                                                        <p id="reviewError"></p>
                                                 </div>

                                                 <div class="tags-box">
                                                        <input type="text" class="tag form-control" name="comment"
                                                               id="inlineFormInputName"
                                                               placeholder="Please enter your review" form="ratingForm">
                                                        <input type="hidden" form="ratingForm" name="product_id"
                                                               value="{{product._id}}" form="ratingForm" />
                                                 </div>

                                          </div>

                                          <div class="button-box">
                                                 <input type="button" class=" done btn btn-warning" disabled="disabled"
                                                        value="Add review" />
                                          </div>

                                          <div class="submited-box">
                                                 <div class="loader"></div>
                                                 <div class="success-message text-success">
                                                        <h4 class="font-weight-bold"> Thank you! </h4>
                                                 </div>
                                          </div>
                                   </div>

                            </div>
                            {{/if}}
                            <div class="row mt-5">
                                   <div class="col-12 mb-3 text-center">
                                          <h4 class="mr-4">
                                                 Customer reviews & ratings
                                          </h4>
                                   </div>
                            </div>
                            <hr>
                            <div id="reviewDiv" class="mt-3">
                                   {{#if product.reviews}}

                                   <div class="row">
                                          <div class="col-xs-12 col-md-6 mx-auto p-5">
                                                 <div class="well well-sm">
                                                        <div class="row align-items-center">
                                                               <div class="col-xs-12 col-md-6 text-center">

                                                                      <h1 class="rating-num">
                                                                             {{product.averageRating}}.0</h1>

                                                                      <div>
                                                                             <span
                                                                                    class="glyphicon glyphicon-user"></span>{{product.reviews.length}}
                                                                             total
                                                                      </div>

                                                                      <h2>
                                                                             <div
                                                                                    class="d-flex flex-row mt-1 justify-content-center">
                                                                                    {{#each product.stars}}
                                                                                    <i
                                                                                           class="{{#if this}} fa fa-star  text-warning {{else}}fa fa-star-o text-secondary{{/if}}"></i>
                                                                                    {{/each}}
                                                                             </div>
                                                                      </h2>
                                                               </div>
                                                               <div class="col-xs-12 col-md-6">
                                                                      <div class="row rating-desc">

                                                                             <div class="col-xs-8 col-md-12">
                                                                                    <p class="mb-1">
                                                                                           {{productRatingCounts.[4]._id}}
                                                                                           - Very good quality
                                                                                           ({{productRatingCounts.[4].count}}
                                                                                           ratings)</p>
                                                                                    <div class="progress mb-3">
                                                                                           <div class="progress-bar bg-success"
                                                                                                  role="progressbar"
                                                                                                  style="width: {{productRatingCounts.[4].percentage}}%"
                                                                                                  aria-valuenow="{{productRatingCounts.[4].count}}"
                                                                                                  aria-valuemin="0"
                                                                                                  aria-valuemax="{{product.reviews.length}}">
                                                                                           </div>
                                                                                    </div>
                                                                                    <p class="mb-1">
                                                                                           {{productRatingCounts.[3]._id}}
                                                                                           - Nice
                                                                                           ({{productRatingCounts.[3].count}}
                                                                                           ratings)
                                                                                    </p>

                                                                                    <div class="progress mb-3">
                                                                                           <div class="progress-bar bg-info"
                                                                                                  role="progressbar"
                                                                                                  style="width: {{productRatingCounts.[3].percentage}}%"
                                                                                                  aria-valuenow="{{productRatingCounts.[3].count}}"
                                                                                                  aria-valuemin="0"
                                                                                                  aria-valuemax="{{product.reviews.length}}">
                                                                                           </div>
                                                                                    </div>
                                                                                    <p class="mb-1">
                                                                                           {{productRatingCounts.[2]._id}}
                                                                                           - Average quality
                                                                                           ({{productRatingCounts.[2].count}}
                                                                                           ratings)</p>
                                                                                    <div class="progress mb-3">
                                                                                           <div class="progress-bar bg-warning"
                                                                                                  role="progressbar"
                                                                                                  style="width: {{productRatingCounts.[2].percentage}}%"
                                                                                                  aria-valuenow="{{productRatingCounts.[2].count}}"
                                                                                                  aria-valuemin="0"
                                                                                                  aria-valuemax="{{product.reviews.length}}">
                                                                                           </div>
                                                                                    </div>
                                                                                    <p class="mb-1">
                                                                                           {{productRatingCounts.[1]._id}}
                                                                                           - Poor quality
                                                                                           ({{productRatingCounts.[1].count}}
                                                                                           ratings)
                                                                                    </p>
                                                                                    <div class="progress mb-3">
                                                                                           <div class="progress-bar bg-secondary"
                                                                                                  role="progressbar"
                                                                                                  style="width: {{productRatingCounts.[1].percentage}}%"
                                                                                                  aria-valuenow="{{productRatingCounts.[1].count}}"
                                                                                                  aria-valuemin="0"
                                                                                                  aria-valuemax="{{product.reviews.length}}">
                                                                                           </div>
                                                                                    </div>
                                                                                    <p class="mb-1">
                                                                                           {{productRatingCounts.[0]._id}}
                                                                                           - Too bad
                                                                                           ({{productRatingCounts.[0].count}}
                                                                                           ratings)
                                                                                    </p>
                                                                                    <div class="progress mb-3">
                                                                                           <div class="progress-bar bg-danger"
                                                                                                  role="progressbar"
                                                                                                  style="width: {{productRatingCounts.[0].percentage}}%"
                                                                                                  aria-valuenow="{{productRatingCounts.[0].count}}"
                                                                                                  aria-valuemin="0"
                                                                                                  aria-valuemax="{{product.reviews.length}}">
                                                                                           </div>
                                                                                    </div>
                                                                             </div>
                                                                             <!-- end 5 -->

                                                                             <!-- end 1 -->
                                                                      </div>
                                                                      <!-- end row -->
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>


                                   <div class="row mt-4 d-flex justify-content-center">

                                          {{#each product.reviews}}
                                          <div class="col-md-4 p-1 mb-1">
                                                 <div class="card p-5 h-100">
                                                        <p class="text-danger font-weight-bold mb-2">{{this.message}}
                                                        </p>
                                                        <i class="fa fa-quote-left u-color"></i>
                                                        <p>{{this.comment}}</p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                               <div class="user-about">

                                                                      <span class="font-weight-bold d-block">{{#ifeq
                                                                             ../session.user._id this.userId}}<span
                                                                                    class="text-primary">You</span>{{/ifeq}}
                                                                             {{#ifnoteq ../session.user._id this.userId
                                                                             }}{{this.userDetails.username}}{{/ifnoteq}}</span>
                                                                      <div class="d-flex flex-row mt-1">
                                                                             {{#each this.stars}}
                                                                             <i
                                                                                    class="{{#if this}} fa fa-star  text-warning {{else}}fa fa-star-o text-secondary {{/if}}"></i>
                                                                             {{/each}}
                                                                      </div>
                                                               </div>

                                                               <div class="user-image"> <img
                                                                             style=" width: 50px; height: 50px; object-fit : cover;"
                                                                             src="{{#if this.userDetails.profilePicture}} /admin/product-images/{{this.userDetails.profilePicture}} {{else}}/users/images/icons/profile_picture_placeholder.png{{/if}}"
                                                                             class="rounded-circle" width="70"> </div>
                                                        </div>
                                                 </div>
                                          </div>
                                          {{/each}}

                                   </div>
                                   {{else}}
                                   <h3 class="text-center mt-5 mb-5 text-danger">
                                          0 reviews
                                   </h3>

                                   {{/if}}
                            </div>

                     </form>
              </div>


       </div>


</div>

<form id="add-to-bag-form" method="post" action="/addToBag">
       <input type="text" name="productId" value="{{product._id}}" hidden>
</form>


<style>
       @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

       * {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
       }

       body {
              color: #545454;
              font-family: "Open Sans", sans-serif;
       }

       .wrapper {
              margin: 0 auto;
              max-width: 960px;
              width: 100%;
       }

       .master {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              padding-top: 40px;
       }

       h1 {
              font-size: 20px;
              margin-bottom: 20px;
       }

       h2 {
              line-height: 160%;
              margin-bottom: 20px;
              text-align: center;
       }

       .rating-component {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin-bottom: 10px;
       }

       .rating-component .status-msg {
              margin-bottom: 10px;
              text-align: center;
       }

       .rating-component .status-msg strong {
              display: block;
              font-weight: bold;
              margin-bottom: 10px;
       }

       .rating-component .stars-box {
              -ms-flex-item-align: center;
              align-self: center;
              margin-bottom: 15px;
       }

       .rating-component .stars-box .star {
              color: #ccc;
              cursor: pointer;
       }

       .rating-component .stars-box .star.hover {
              color: #ff5a49;
       }

       .rating-component .stars-box .star.selected {
              color: #ff5a49;
       }

       .feedback-tags {
              min-height: 119px;
       }

       .feedback-tags .tags-container {
              display: none;
       }

       .feedback-tags .tags-container .question-tag {
              text-align: center;
              margin-bottom: 40px;
       }

       .feedback-tags .tags-box {
              display: -webkit-box;
              display: -ms-flexbox;
              text-align: center;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
       }

       .feedback-tags .tags-container .make-compliment {
              padding-bottom: 20px;
       }

       .feedback-tags .tags-container .make-compliment .compliment-container {
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              color: #000;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
       }

       .feedback-tags .tags-container .make-compliment .compliment-container .fa-smile-wink {
              color: #ff5a49;
              cursor: pointer;
              font-size: 40px;
              margin-top: 15px;
              -webkit-animation-name: compliment;
              animation-name: compliment;
              -webkit-animation-duration: 2s;
              animation-duration: 2s;
              -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
       }

       .feedback-tags .tags-container .make-compliment .compliment-container .list-of-compliment {
              display: none;
              margin-top: 15px;
       }

       .feedback-tags .tag {
              border: 1px solid #ff5a49;
              border-radius: 5px;
              color: #ff5a49;
              cursor: pointer;
              margin-bottom: 10px;
              margin-left: 10px;
              padding: 10px;
       }

       .feedback-tags .tag.choosed {
              background-color: #ff5a49;
              color: #fff;
       }

       .list-of-compliment ul {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
       }

       .list-of-compliment ul li {
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              cursor: pointer;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              margin-bottom: 10px;
              margin-left: 20px;
              min-width: 90px;
       }

       .list-of-compliment ul li:first-child {
              margin-left: 0;
       }

       .list-of-compliment ul li .icon-compliment {
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              border: 2px solid #ff5a49;
              border-radius: 50%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              height: 70px;
              margin-bottom: 15px;
              overflow: hidden;
              padding: 0 10px;
              -webkit-transition: 0.5s;
              transition: 0.5s;
              width: 70px;
       }

       .list-of-compliment ul li .icon-compliment i {
              color: #ff5a49;
              font-size: 30px;
              -webkit-transition: 0.5s;
              transition: 0.5s;
       }

       .list-of-compliment ul li.actived .icon-compliment {
              background-color: #ff5a49;
              -webkit-transition: 0.5s;
              transition: 0.5s;
       }

       .list-of-compliment ul li.actived .icon-compliment i {
              color: #fff;
              -webkit-transition: 0.5s;
              transition: 0.5s;
       }

       .button-box .done {
              background-color: #ff5a49;
              border: 1px solid #ff5a49;
              border-radius: 3px;
              color: #fff;
              cursor: pointer;
              display: none;
              min-width: 100px;
              padding: 10px;
       }

       .button-box .done:disabled,
       .button-box .done[disabled] {
              border: 1px solid #ff9b95;
              background-color: #ff9b95;
              color: #fff;
              cursor: initial;
       }

       .submited-box {
              display: none;
              padding: 20px;
       }

       .submited-box .loader,
       .submited-box .success-message {
              display: none;
       }

       .submited-box .loader {
              border: 5px solid transparent;
              border-top: 5px solid #4dc7b7;
              border-bottom: 5px solid #ff5a49;
              border-radius: 50%;
              width: 60px;
              height: 60px;
              -webkit-animation: spin 0.8s linear infinite;
              animation: spin 0.8s linear infinite;
       }

       @-webkit-keyframes compliment {
              1% {
                     -webkit-transform: rotate(0deg);
                     transform: rotate(0deg);
              }

              25% {
                     -webkit-transform: rotate(-30deg);
                     transform: rotate(-30deg);
              }

              50% {
                     -webkit-transform: rotate(30deg);
                     transform: rotate(30deg);
              }

              75% {
                     -webkit-transform: rotate(-30deg);
                     transform: rotate(-30deg);
              }

              100% {
                     -webkit-transform: rotate(0deg);
                     transform: rotate(0deg);
              }
       }

       @keyframes compliment {
              1% {
                     -webkit-transform: rotate(0deg);
                     transform: rotate(0deg);
              }

              25% {
                     -webkit-transform: rotate(-30deg);
                     transform: rotate(-30deg);
              }

              50% {
                     -webkit-transform: rotate(30deg);
                     transform: rotate(30deg);
              }

              75% {
                     -webkit-transform: rotate(-30deg);
                     transform: rotate(-30deg);
              }

              100% {
                     -webkit-transform: rotate(0deg);
                     transform: rotate(0deg);
              }
       }

       @-webkit-keyframes spin {
              0% {
                     -webkit-transform: rotate(0deg);
                     transform: rotate(0deg);
              }

              100% {
                     -webkit-transform: rotate(360deg);
                     transform: rotate(360deg);
              }
       }

       @keyframes spin {
              0% {
                     -webkit-transform: rotate(0deg);
                     transform: rotate(0deg);
              }

              100% {
                     -webkit-transform: rotate(360deg);
                     transform: rotate(360deg);
              }
       }
</style>


<script src='https://code.jquery.com/jquery-3.1.1.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js'></script>
<script src="/users/local_js/validate.js"></script>
<script src="/users/local_js/script.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>

       const socket = io();
       $(".rating-component .star").on("mouseover", function () {
              var onStar = parseInt($(this).data("value"), 10); //
              $(this).parent().children("i.star").each(function (e) {
                     if (e < onStar) {
                            $(this).addClass("hover");
                     } else {
                            $(this).removeClass("hover");
                     }
              });
       }).on("mouseout", function () {
              $(this).parent().children("i.star").each(function (e) {
                     $(this).removeClass("hover");
              });
       });

       $(".rating-component .stars-box .star").on("click", function () {
              var onStar = parseInt($(this).data("value"), 10);
              var stars = $(this).parent().children("i.star");
              var ratingMessage = $(this).data("message");

              var msg = "";
              if (onStar > 1) {
                     msg = onStar;
              } else {
                     msg = onStar;
              }
              $('.rating-component .starrate .ratevalue').val(msg);



              $(".fa-smile-wink").show();

              $(".button-box .done").show();

              if (onStar === 5) {
                     $(".button-box .done").removeAttr("disabled");
              } else {
                     $(".button-box .done").attr("disabled", "true");
              }

              for (i = 0; i < stars.length; i++) {
                     $(stars[i]).removeClass("selected");
              }

              for (i = 0; i < onStar; i++) {
                     $(stars[i]).addClass("selected");
              }

              $(".rating_msg").val(ratingMessage);
              $(".status-msg").html(ratingMessage);
              $("[data-tag-set]").hide();
              $("[data-tag-set=" + onStar + "]").show();
       });

       $(".feedback-tags  ").on("click", function () {
              var choosedTagsLength = $(this).parent("div.tags-box").find("input").length;
              choosedTagsLength = choosedTagsLength + 1;

              if ($(this).hasClass("choosed")) {
                     $(this).removeClass("choosed");
                     choosedTagsLength = choosedTagsLength - 2;
              } else {
                     $(this).addClass("choosed");
                     $(".button-box .done").removeAttr("disabled");
              }

              console.log(choosedTagsLength);

              if (choosedTagsLength <= 0) {
                     $(".button-box .done").attr("enabled", "false");
              }
       });



       $(".compliment-container .fa-smile-wink").on("click", function () {
              $(this).fadeOut("slow", function () {
                     $(".list-of-compliment").fadeIn();
              });
       });



       $(".done").on("click", function () {

              $.ajax({
                     url: '/reviewProduct',
                     type: "post",
                     data: $("#ratingForm").serialize(),
                     success: (response) => {
                            if (response.error500) {
                                   window.location.href = '/error500';
                            }
                            if (response.notOrdered) {
                                   $('#reviewError').text('You have not ordered this product');
                            }
                            if (response.reviewSuccess) {
                                   socket.emit('reviewAdded', response.messageDetails)
                                   $('#reviewDiv')
                                          .load(
                                                 `${window.location.href} #reviewDiv > *`,
                                          )
                                          .hide()
                                          .fadeIn('slow');
                                   $("#reviewDiv")
                                   $(".rating-component").hide();
                                   $(".feedback-tags").hide();
                                   $(".button-box").hide();
                                   $(".submited-box").show();
                                   $(".submited-box .loader").hide();
                                   $(".submited-box .success-message").show();
                            }

                     }
              })




       });

</script>

<style>
       .glyphicon {
              margin-right: 5px;
       }

       .rating .glyphicon {
              font-size: 22px;
       }

       .rating-num {
              margin-top: 0px;
              font-size: 54px;
       }

       .progress {
              margin-bottom: 5px;
       }

       .progress-bar {
              text-align: left;
       }

       .rating-desc .col-md-3 {
              padding-right: 0px;
       }

       .sr-only {
              margin-left: 5px;
              overflow: visible;
              clip: auto;
       }
</style>