<div class="container mb-5 p-t-100 reload-parent">
       {{#if wishlist}}
       <div class="row isotope-grid reload-child">
              {{#each wishlist}}
              <div class="col-6 col-md-3 col-lg-2 p-b-35 isotope-item" id="wishlistedProduct-{{this._id}}">


                     <div class="block2">

                            <a href="/product-view{{this._id}}">

                                   <div class="block2-pic hov-img0 " style="position: relative;">
                                          <button type="button"
                                                 onclick="event.preventDefault(); addToWishlist('{{this._id}}','fromWishlistView');"
                                                 class="bg-light border-2 rounded-circle px-2 py-1 close"
                                                 aria-label="Close"
                                                 style="position: absolute; top:2%; left:81%; z-index: 1000;">
                                                 <span aria-hidden="true">&times;</span>
                                          </button>

                                          <img src="/admin/product-images/{{this.images.[0].filename}}"
                                                 alt="IMG-PRODUCT" />



                                   </div>
                                   <a href="/product-view{{this._id}}"></a>

                                   <div class="block2-txt flex-w flex-t p-t-14">
                                          <div class="block2-txt-child1 flex-col-l">

                                                 <a
                                                        class="font-weight-bold cut-text stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">{{this.brand}}</a>
                                                 <a href="/product-view{{this._id}}"
                                                        class="cut-text stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                        {{this.product_name}}
                                                 </a>
                                                 <a
                                                        class="stext-104 cl4 hov-cl1 trans-04 js-name-b2">{{this.category}}</a>
                                                 <div class="d-flex flex-row mb-2">

                                                        {{#each this.stars}}
                                                        <i
                                                               class="{{#if this}} fa fa-star  text-warning {{else}}fa fa-star-o text-secondary {{/if}}"></i>
                                                        {{/each}}
                                                 </div>

                                                 <div class="d-flex">
                                                        <span
                                                               class="stext-105  font-weight-bold  {{#if this.offerPrice}} text-danger {{/if}} mr-3">
                                                               {{#if this.offerPrice}}
                                                               <del>Rs.{{this.price}}</del>
                                                               {{else}}
                                                               Rs.{{this.price}}
                                                               {{/if}}

                                                        </span>
                                                        {{#if this.offerPrice}}
                                                        <span class="stext-105 cl3 font-weight-bold">

                                                               Rs.{{this.offerPrice}}

                                                        </span>
                                                        {{/if}}
                                                 </div>
                                                 {{#if this.offerPrice}}
                                                 <p class="text-success font-weight-bold" style="font-size: 15px;">
                                                        ({{this.offerPercentage}} %off)
                                                 </p>
                                                 {{/if}}
                                          </div>

                                       

                                   </div>
                     </div>


                     <!-- Block2 -->

              </div>
              {{/each}}
       </div>
       {{else}}

       <div class="container-fluid  mb-4">
              <div class="row">

                     <div class="col-md-12">


                            <div class="card-body cart">
                                   <div class="col-sm-12 empty-cart-cls text-center">
                                          <img src="https://img.icons8.com/nolan/64/wish-list.png" width="100"
                                                 height="100" class="img-fluid mb-4 mr-3">
                                          <h3><strong>Oops! Your Wishlist is Empty</strong></h3>
                                          <h5 class="mt-2">Seems like you don't have wishes here.Make a wish</h5>
                                          <a href="/" class="btn m-3 stext-101 cl0 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                                                 data-abc="true">Continue Shopping</a>


                                   </div>
                            </div>

                     </div>

              </div>

       </div>

       {{/if}}

</div>



<script src='https://code.jquery.com/jquery-3.1.1.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js'></script>
<script src="/users/local_js/validate.js"></script>
<script src="/users/local_js/script.js"></script>